header {
    
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
}
.header-logo{
    margin-top: 25px;
    margin-bottom: 25px;

}

.btn-change-theme{
    background-color: transparent;
    border: 0;
 
}

#dark .header-change-theme {
    filter: invert(100%);
}
 
@media (min-width: 320px) {
    header {
        width: 320px;
    }
    .header-logo{
        margin-top: 25px;
        margin-bottom: 25px;
    }
   
}  

@media (min-width: 768px) {
    header {
        width: 700px;
    }
    .header-logo{
        margin-top: 35px;
        margin-bottom: 35px;
    }
   
}

@media (min-width: 1024px) {
    header {
        width: 940px;
    }

    .header-logo{
        margin-top: 35px;
        margin-bottom: 35px;
    }
   
}

@media (min-width: 1366px) {
    header {
        width: 1120px;
    }
    .header-logo{
        margin-top: 35px;
        margin-bottom: 35px;
    }
   
}